<div ng-include="'partials/navBar.html'"></div>
<br>
<br>
<section class="container teal lighten-3">
    <div class="card z-depth-2 teal darken-2">
        <div class="card-content black-text center">
            <h4>So you want to know more eh?</h4>
        </div>
    </div>
    <div class="row">
        <div class="info center col s10 push-s1">
            Thank you for choosing 24/7/365, "where results never sleep!". Our mission is to provide you with search results that are always going to be open and save you the time of scouring through multiple apps to find what you want when you need it most.
            <br>
            <br> If you have ever found yourself in the middle of the night needing a product or service only to find out 90% of your options were closed, or in a foreign place and unsure of your options, this app is for you!!
            <br>
            <br>
            <br>
        </div>
        <div class="center col s12">
            <p class="h4">Shoot us an <a href="mailto:interlink3d@gmail.com?subject=feedback">email</a></p>
        </div>
        <div class="center col s12">
            <p class="h4">Follow us on: FB IG YT</p>
        </div>
    </div>
</section>
