<div ng-include="'partials/navBar.html'"></div>
<br>
<br>
<section class="container teal lighten-3">
  <div class="card z-depth-2 teal darken-2">
    <div class="card-content black-text center">
      <h4>So you want to know more eh?</h4>
    </div>
  </div>
  <div class="row">
    <div class="center col s12">
      <p class="h4">Shoot us an <a href="mailto:interlink3d@gmail.com?subject=feedback">email</a></p>
    </div>
    <div class="center col s12">
      <p class="h4">Follow us on: FB IG YT</p>
    </div>
  </div>
</section>
