<div class="container transparent">
  <!-- <div class="row"> -->
    <section class="logTitle white-text">
      <div class="col s12">
        <div class="center z-depth-2">
        <h2>Welcome to 24/7/365</h2>
        <h5>"Where results never sleep!"</h5>
        </div>
      </div>
      <div class="col s12">
        <h4 class="center">I want to...</h4>
      </div>
        <div class="container">
          <div class="row">
            <a ng-href="#/search" class="waves-effect waves-light btn light-blue darken-3 col s10 push-s1"><i class="material-icons right">search</i>Search</a>
          </div>
        </div>
    <section class="container">
      <div >
        <input class="field3" type="text" placeholder="Username:" ng-model="account.userName">
      </div>
      <div>
        <input class="field3" type="text" placeholder="Email:" ng-model="account.email">
      </div>
      <div>
        <input class="field3" type="password" placeholder="Password:" ng-model="account.password">
      </div>
        <div class="row">
          <a ng-click="login()" class="waves-effect waves-light btn light-blue darken-3 col s5 push-s1"><i class="material-icons right">input</i>Login</a>
          <a ng-click="register()" class="waves-effect waves-light btn light-blue darken-3 col s5 push-s1"><i class="material-icons right">perm_identity</i>Signup</a>
        </div>
    </section>
    <section>
      <br>
      <p class="center"><a ng-href="#/contact" class="white-text">Contact Us</a></p>
    </section>
    </section>
  <!-- </div> -->
</div>
