<div class="container teal lighten-3">
  <!-- <div class="row"> -->
    <section>
      <div class="col s12">
        <h2 class="logTitle center">Welcome to 24/7/365!</h2>
      </div>
      <div class="col s12">
        <h3 class="center">I want to...</h3>

     <!--      <div class="row"> -->
            <a ng-href="#/welcome" class="waves-effect waves-light btn"><i class="material-icons right">search</i>Search</a>
            <a ng-click="login()" class="waves-effect waves-light btn"><i class="material-icons right">input</i>Login</a>
            <a ng-click="register()" class="waves-effect waves-light btn"><i class="material-icons right">perm_identity</i>Register</a>
          <!-- </div> -->
      </div>
    <section class="container">
      <div >
        <input class="field4" type="text" placeholder="Username:" ng-model="newUser.userName">
      </div>
      <div>
        <input class="field4" type="text" placeholder="Email:" ng-model="account.email">
      </div>
      <div>
        <input class="field4" type="password" placeholder="Password:" ng-model="account.password">
      </div>
    </section>
    <section>
      <p class="center"><a ng-href="#/welcome">Contact Us</a></p>
      <p class="center"><a ng-href="#/welcome">About Us</a></p>
    </section>
    </section>
  <!-- </div> -->
</div>
