<div class="container teal lighten-3">
  <!-- <div class="row"> -->
    <section>
      <div class="col s12">
        <h2 class="logTitle center z-depth-2">Welcome to 24/7/365!</h2>
      </div>
      <div class="col s12">
        <h3 class="center">I want to...</h3>
      </div>
        <div class="container">
          <div class="row">
            <a ng-href="#/search" class="waves-effect waves-light btn col s10 push-s1"><i class="material-icons right">search</i>Search</a>
          </div>
        </div>
    <section class="container">
      <div >
        <input class="field3" type="text" placeholder="Username:" ng-model="newUser.userName">
      </div>
      <div>
        <input class="field3" type="text" placeholder="Email:" ng-model="account.email">
      </div>
      <div>
        <input class="field3" type="password" placeholder="Password:" ng-model="account.password">
      </div>
        <div class="row">
          <a ng-click="login()" class="waves-effect waves-light btn col s5 push-s1 l5 push-l1"><i class="material-icons right">input</i>Login</a>
          <a ng-click="register()" class="waves-effect waves-light btn col s5 push-s1 l5 push-l1"><i class="material-icons right">perm_identity</i>Signup</a>
        </div>
    </section>
    <section>
      <p class="center"><a ng-href="#/contact">Contact Us</a></p>
    </section>
    </section>
  <!-- </div> -->
</div>
