<div ng-include="'partials/navBar.html'"></div>
<div class="row">
  <br>
  <div class="col h6 s12 introMessage">
    Here are your saved locations!
  </div>
  <br>
  <br>
  <div class="listResults row" ng-repeat="location in myLocations">
     <div class="row">
        <div class="col s12">
          <div class="small card">
            <div class="small card-image responsive-img">
              <img src="http://i.stack.imgur.com/58Fp8.png" class="responsive-img">
              <span class="card-title bold h5 teal-text text-darken-2 center">{{location.name}}</span>
              <span>{{location.rating}}<i class="material-icons right">star</i></span>
            </div>
            <div class="card-content center">
              <h6 class="col s10 valign-wrapper">{{location.vicinity}}</h6>
            </div>
            <div class="card-action">
              <a ng-click="locationDelete(location.id)" class="waves-effect waves-light tooClose btn col s3 push-s1">Delete</a>
              <a ng-click="writeNotes(location.id)" class="waves-effect waves-light tooClose btn col s3 push-s1">Notes</a>
              <a ng-click="getDirections()" class="waves-effect waves-light tooClose btn col s3 push-s1">Directions</a>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- end ng repeat div -->
</div>
