<div ng-include="'partials/navBar.html'"></div>
<br>
<br>
<br>
<section class="container teal lighten-3">
  <div class="card z-depth-2 teal darken-2">
    <div class="card-content black-text center">
      <h4>real quick, tell me:</h4>
    </div>
  </div>
  <div>
    <input class="field3 black-text center" type="text" placeholder="What are you looking for?" ng-model="newSearch.category">
    <input class="field3 black-text center" type="text" placeholder="Where?" ng-model="newSearch.location">
  </div>
  <div class="row">
    <a ng-click="newCatSearch()" class="waves-effect waves-light btn col s8 push-s2"><i class="material-icons right">search</i>Search</a>
  </div>
  <br>
</section>
