<div ng-include="'partials/navBar.html'"></div>
<br>
<br>
<br>
<section class="container">
  <div class="card searchBox">
    <div class="card-content white-text center">
      <h4>real quick, tell me:</h4>
    </div>
  <div class="field3">
    <input class="white-text center" type="text" placeholder="What are you looking for?" ng-model="newSearch.category">
    <input class="white-text center" type="text" placeholder="Where?" ng-model="newSearch.location">
  </div>
  <div class="row">
    <a ng-click="newCatSearch()" class="waves-effect waves-light btn light-blue darken-3 col s8 push-s2"><i class="material-icons right">search</i>Search</a>
  </div>
  <br>
  </div>
</section>
